.center {
	margin: 0;
	padding: 15px;
	text-align: center;
	border-bottom: 1px solid black;
}

.btn {
	padding: 15px 47% 15px 47%;
}

.row {
	display: flex;
}

.column {
	flex: 50%;
}

.left {
	width: 75%;
	background-color: #aaa;
}

.right {
	width: 25%;
	background-color:#bbb;
}

.word-wrap {
	word-break: break-word;
	white-space: pre-wrap;
}

p:empty:not(:focus)::before {
	content: attr(data-placeholder);
}

.CodeMirror {
	border: 1px solid silver;
    height: auto;
	min-height: 300px;
	resize: both;
	overflow: auto !important;
	overflow-y: overlay;
	min-width: -webkit-fill-available;
	max-width: 75%;
}

.CodeMirror::-webkit-scrollbar { 
    /* display: none;  */
}

.CodeMirror-empty.CodeMirror-focused {
	outline: none;
}

.CodeMirror pre.CodeMirror-placeholder {
	color: #999;
}

.CodeMirror-scroll {
	min-height: 300px;
}